*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.4s;
}
ul,ol,li{
	list-style: none;
}
i{
	font-style: normal;
}
a{
	text-decoration: none;
}
html,body{
	width: 100%;
	height: 100%;
	background-color: #c32229;
	background-image: url('../images/background-top@2x.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
section{
	top:0px;
	bottom:0px;
	height: 100%;

}
 input::-webkit-input-placeholder{
    color:#666;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#666;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#666;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#666;
}
.ov{
	overflow: hidden;
}
.sel{
	position: relative;
}
.sanjiao-p{
	border:6px solid transparent;
	position: absolute;
	right: 0.8rem;
	top:0.6rem;
	border-top-color: #bfbfbf;
	border-top-width: 8px;	
}
.hide{
	display: none;
}
#sec1{
	/*display: none;*/
	background-image:  url('../images/background-cover@2x.png');	
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
.operation{
	top: 70%;
	left: 16%;
	width: 68%;
	position: absolute;
}
.choice {

}
# listartAnser {
}
.sure {
	border-radius: 5px;
	display: block;
	text-al333: center;
	color: #fff;
	font-weight: bold;
	margin: auto;
	height: 2rem;
	line-height: 2rem;	
	background-color: rgb(255,192,23);
	
}
#startAnser  i{
	font-size: 110%;
	display: inline-block;
	margin: 0 0.5rem 0 0.5rem;
	font-style: normal;
}
.to-anwser{
	background-color: #ccc !important;
}
.links{
	margin-top: 1.8rem;
	text-align: center;
}
.links>*{
	color: #fff;
	font-size: 85%;
	display: inline-block;
	color: #eee;
}
.links span{
	margin-left: 15px;
	margin-right: 15px;
}


#fillInfo{
	width: 80%;
	margin: auto;	
	height: 2.8rem;
	line-height: 2.8rem;
}
.content{
	position: absolute;
	left: 0;
	right: 0;
	top: 2rem;
	bottom: 3rem;
	margin: auto;
	width: 90%;
	border:4px solid rgba(255,255,255,0.4);
	border-radius: 8px;
}
.content .header{
	background-image: url('../images/banner-message.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 7rem;
}
.content .forminfo{
	padding-top: 2rem;
	background-color: #fff;
	position: absolute;
	top:6rem;
	right: 0;
	left: 0;
	bottom: 0;
}
.content .forminfo ol{
	width: 80%;
	margin: auto;
}
.content .forminfo ol>li{
	height: 2.7rem;
	border-radius: 5px;
	padding: 0.3rem;
	background-color: #f5f5f5;
	margin-bottom: 1.0rem;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
}
.content .forminfo .ipt {
	height: 2.0rem;
	flex: 1;
}
.forminfo .ipt input, .forminfo .ipt select{
	color: #666;
	border-color: transparent;
	background: transparent;
	width: 100%;
	height: 100%;
	outline: none;
	font-size: 105%;
}

.forminfo ol>li>div{
	align-items: center;
	line-height: 2.0rem;
}
.forminfo ol>li .gap{
	margin: 0 0.8rem ;
}
.forminfo ol>li .icon{
	width: 2.4rem;
	height: 2.0rem;
	background-image: url('../images/sprite-icon@2x.png');
	background-repeat: no-repeat;
	background-size: 800% 400%;
}
.forminfo ol>li:nth-of-type(6n-5) .icon {
	background-position: -10.8rem -5.7rem;
}
.forminfo ol>li:nth-of-type(6n-4) .icon {
	background-position:-13.6rem -3rem;
}
.forminfo ol>li:nth-of-type(6n-3) .icon {
	background-position:-10.9rem -3rem;
}
.forminfo ol>li:nth-of-type(6n-2) .icon {
	background-position:-13.6rem -5.5rem;
}
.forminfo ol>li:nth-of-type(6n-1) .icon {
	background-position:-16.3rem -5.6rem;
}


.ques-anw{
	background: url(../images/logo@2x.png) center 2rem no-repeat;
	background-size: 25%;
}
.header-time {
	background: rgba(255,255,255,0.1);
	border-radius: 6px;
	float: right;
	margin: 20px 20px 0 0;
	padding: 5px;
}
.header-time span{
	
	color: #fff;
}
.question {

}
.question p{
	font-size: 110%;
	line-height: 1.8rem;
	color: #fff;
	width: 80%;
	margin: 8rem auto 2rem;
	text-indent: 3rem
}
.choice {
	width: 70%;
	margin: auto;
}
.choice li{
	margin-bottom:20px;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	color: #333;
	background-color: #fff;
	border-radius: 6px;
}
.choice .cho-right{
	background-color: rgb(255,192,23);
	color: #fff;
	background-image: url('../images/sprite-icon@2x.png');
	background-repeat: no-repeat;
	background-size: 150% 400%;
	background-position: 0rem -3.7rem;
}
.choice .cho-error{

}