*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,ol,li{
	list-style: none;
}
i{
	font-style: normal;
}
a{
	text-decoration: none;
}
html,body{
	width: 100%;
	height: 100%;
	background-color: #c32229;
	background-image: url('../images/background-top@2x.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
section{
	top:0px;
	bottom:0px;
	height: 100%;

}
img{
	background-repeat: no-repeat;
}
input::-webkit-input-placeholder{
    color:#666;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#666;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#666;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#666;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ov{
	overflow: hidden;
}
.sel{
	position: relative;
}
.sanjiao-p{
	border:6px solid transparent;
	position: absolute;
	right: 0.8rem;
	top:0.6rem;
	border-top-color: #bfbfbf;
	border-top-width: 8px;	
}
.hide{
	display: none;
}
#sec1{
	/*display: none;*/
	background-image:  url('../images/background-cover@2x.png');	
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
.operation{
	top: 70%;
	left: 16%;
	width: 68%;
	position: absolute;
}
.choice {

}
# listartAnser {
}
.sure {
	border-radius: 5px;
	display: block;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin: auto;
	height: 2rem;
	line-height: 2rem;	
	background-color: rgb(255,192,23);
	
}
#startAnser  i{
	font-size: 110%;
	display: inline-block;
	margin: 0 0.5rem 0 0.5rem;
	font-style: normal;
}
.to-anwser{
	background-color: #ccc !important;
}
.links{
	margin-top: 1.8rem;
	text-align: center;
}
.links>*{
	color: #fff;
	font-size: 85%;
	display: inline-block;
	color: #eee;
}
.links span{
	margin-left: 15px;
	margin-right: 15px;
}


#fillMyInfo{
	width: 80%;
	margin: auto;	
	height: 2.8rem;
	line-height: 2.8rem;
}
.content{
	position: absolute;
	left: 0;
	right: 0;
	top: 2rem;
	bottom: 3rem;
	margin: auto;
	width: 90%;
	border:4px solid rgba(255,255,255,0.4);
	border-radius: 8px;
}
.content .header{
	background-image: url('../images/banner-message.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 7rem;
}
.content .forminfo{
	padding-top: 2rem;
	background-color: #fff;
	position: absolute;
	top:6rem;
	right: 0;
	left: 0;
	bottom: 0;
}
.content .forminfo ol{
	width: 80%;
	margin: auto;
}
.content .forminfo ol>li{
	height: 2.7rem;
	border-radius: 5px;
	padding: 0.3rem;
	background-color: #f5f5f5;
	margin-bottom: 1.0rem;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	display: -webkit-flex;
}
.content .forminfo .ipt {
	height: 2.0rem;
	flex: 1;
}
.forminfo .ipt input, .forminfo .ipt select{
	color: #666;
	border-color: transparent;
	background: transparent;
	width: 100%;
	height: 100%;
	outline: none;
	font-size: 105%;
}

.forminfo ol>li>div{
	align-items: center;
	line-height: 2.0rem;
}
.forminfo ol>li .gap{
	margin: 0 0.8rem ;
}
.forminfo ol>li .icon{
	width: 2.4rem;
	height: 2.0rem;
	background-image: url('../images/sprite-icon@2x.png');
	background-repeat: no-repeat;
	background-size: 800% 400%;
}
.forminfo ol>li:nth-of-type(6n-5) .icon {
	background-position: -10.8rem -5.7rem;
}
.forminfo ol>li:nth-of-type(6n-4) .icon {
	background-position:-13.6rem -3rem;
}
.forminfo ol>li:nth-of-type(6n-3) .icon {
	background-position:-10.9rem -3rem;
}
.forminfo ol>li:nth-of-type(6n-2) .icon {
	background-position:-13.6rem -5.5rem;
}
.forminfo ol>li:nth-of-type(6n-1) .icon {
	background-position:-16.3rem -5.6rem;
}

/* 个人信息填写部分 end*/


.ques-anw{
	background: url(../images/logo@2x.png) center 2rem no-repeat;
	background-size: 25%;
}
.header-time {
	background: rgba(255,255,255,0.1);
	border-radius: 6px;
	float: right;
	margin: 20px 20px 0 0;
	padding: 5px;
}
.header-time span{
	color: #fff;
}
.question {

}
.question p{
	font-size: 110%;
	line-height: 1.8rem;
	color: #fff;
	width: 80%;
	margin: 8rem auto 2rem;
}
.choice {
	width: 70%;
	margin: auto;
}
.choice li{
	margin-bottom:20px;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	color: #333;
	background-color: #fff;
	border-radius: 6px;
	display: flex;
	display: -webkit-flex;	
}

.choice .cho-error {
	background-color: #ccc;
}
.choice .right-anwser {
	color: #fff;
	background-color: rgb(255,192,23);
}
.choice li>*{
	align-items: center;
	text-align: center;
}
.choice li span{
	flex: 1;
}
.choice li b,.choice li i{
	width: 3.5rem;
}
.choice .choosed i{
	background-image: url('../images/sprite-icon@2x.png');
	background-repeat: no-repeat;
	background-size: 550% 300%;
	background-position: 0.5rem -2.5rem;
}
.choice .cho-error b{
	background-image: url('../images/sprite-icon@2x.png');
	background-repeat: no-repeat;
	background-size: 550% 300%;
	background-position: -5.5rem -2.5rem;	
}
.choice .cho-right b {
	background-image: url('../images/sprite-icon@2x.png');
	background-repeat: no-repeat;
	background-size: 550% 300%;
	background-position: -2.5rem -2.5rem;		
}

.next-que{
	display: flex;
	display: -webkit-flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3.5rem;
	background-color: #fff;
}
.next-que>div{
	align-items: center;
	line-height: 3.5rem;
}
.next-que .items{
	flex: 1;
	padding-left: 3rem;
	background-image: url(../images/sprite-icon@2x.png);
	background-repeat: no-repeat;
	background-position: -21rem -3rem;
	background-size: 140% 270%;
	font-size: 110%;
}
.next-que .btn-next {
	width: 6rem;
	text-align: center;
	color: #fff;
	background-color: rgb(12,171,245);
	font-size: 110%;
}
.next-que .current{
	color: #444;	
}

.next-que .total {
	color: #bbb;
}
.question .single i{
	background-image: url(../images/sprite-icon@2x.png);
	background-size: 600% 600%;
	background-position: 5.1rem -0.5rem;
}
.question .mult i{
	background-image: url(../images/sprite-icon@2x.png);
	background-size: 600% 600%;
	background-position: 8.1rem -0.5rem;
}

.question i{
	display: inline-block;
	width: 3rem;
	height: 1.3rem;
	margin-right: 1rem;
}
/*答题部分 end*/


#sec4{
	background-image: url(../images/page-title@2x.png);
	background-repeat: no-repeat;	
	background-position: 0rem 0rem;
	background-size: 100%;
	padding-top:11rem;
}
.bg{
	background-color: #fff;
	padding: 1rem 2rem;
	border-radius: 12px;
}
.content-wrap{
	border-radius: 12px;
	width: 90%;
	margin: auto;
	border:4px solid rgba(255,255,255,0.1);
}

.grade .header{
	padding-bottom: 0.8rem;
	border-bottom: 2px dotted #eee;
	margin-bottom: 1.4rem;
}
.grade .used-time i{
	display: inline-block;
	background-image: url(../images/sprite-icon@2x.png);
	background-position: -1rem 2.5rem;
	vertical-align: middle;
	background-size: 1400% 800%;
	height: 1.4rem;
	padding-left: 1.7rem;
}
.grade .result{
	display: flex;
	display: -webkit-flex;
	padding-bottom: 2rem;

}
.grade .result>div{
	flex:1;
}
.result .count .w,.result .corret .w{
	width: 70%;
	margin: auto;	
	padding-left: 4px;
	padding-right: 4px;
}
.result .count .w{
	border-top: 3px solid #ff8801;

}
.result .corret .w{

	border-top: #15CE84 3px solid;
}
.result .num{
	text-align: center;
	color: #ff4740;
	font-weight: bold;
	font-family: arial;
	font-size: 120%;
	padding-top: 0.6rem;
}
.result .n{
	color: #444;
	text-align: center;
	font-size: 80%;
	padding-bottom: 0.6rem;
}
.result .inner{
	background-color: #f8f8f8;
	margin: auto;
	box-shadow:0px 3px 2px #bbb;
}

.rank .w{
	border-top: rgb(61,147,244) 3px solid;
	padding-left: 4px;
	padding-right: 4px;
}
.rank .inner {
	padding-bottom: 0.4rem;
	font-size: 140%;
}

.btn-reanwser{
	width: 70%;
	color: #fff;
	font-size: 105%;
	text-align: center;
	border-radius: 6px;
	margin:auto;
	background-color: #ffc017;
	line-height: 2.7rem;
	height: 2.7rem;
	margin-top: -1.4rem;
}



/*排名*/

#sec5{
	background-image: url(../images/page-title@2x.png);
	background-repeat: no-repeat;	
	background-position: 0rem 0rem;
	background-size: 100%;
	padding-top:11rem;
}

.ranklist{
	border-radius: 10px;
	background-color: #fff;
	border:4px solid #b41a24;
	width: 90%;
	margin: auto;
	color: #444;
	margin-bottom: 1rem;
}
.ranklist li{
	display: flex;
	display: -webkit-flex;
	height: 3rem;
	line-height: 3rem;
}
.ranklist li>*{
	flex: 1;
	align-items: center;
	text-align: center;
}
.ranklist li i{
	flex: 0.5;
}
.ranklist li span:nth-of-type(1) {
	flex: 1.5;
	text-align: left;
    text-indent: 0.8rem;
}
.ranklist .per-time{
	flex: 1.5;
}
.ranklist .forward{
    color: #ed3837;	
    font-weight: bold;
}
.ranklist .forward i{
	background-image: url(../images/sprite-icon@2x.png);
    background-size: 710% 200%;
}
.ranklist li:nth-of-type(1) i{
    background-position: -2.3rem -3.5rem;
}
.ranklist li:nth-of-type(2) i{
    background-position: -4.6rem -3.5rem;
}
.ranklist li:nth-of-type(3) i{
    background-position: -6.9rem -3.5rem;
}

.share>div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #FFFFFF;
}
.share>div>ul>li {
    float: left;
    width: 23%;
    text-align: center;
}
.share>div>ul>li>img {
    width: 50%;
    margin-top: 25%;
}
.share>div>ul>li>span {
    display: inline-block;
    padding-top: 3%;
    margin-bottom: 25%;
    color: #000000;
    font-size: 0.3rem;
}
.share>div>div {
    clear: both;
    display: block;
    padding: 3% 0;
    color: #000000;
    font-size: 0.425rem;
    border-top: #CCCCCC 1px solid;
}



















